# Node modules
node_modules/

# Build files
build/

# Environment variables
.env

# Logs
logs/**
*.log

# Coverage
coverage/

# Dependency directories
jspm_packages/

# Compiled source
dist/

# IDE directories
.idea/
.vscode/
